<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/webcam.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <% if (errorMessage) { %>
    <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <div class="booth">
      <img src="<%= image.image %>" width="600" height="450" ; />
      <form action="/admin/comment" method="POST" ;>
        <% if (thisUser !== true) { %>
        <textarea style="resize:none;" rows="7" cols="96" name="comment" required placeholder="Leave a comment here!";></textarea>
        <button type="submit" class="btn btn-default" name="submitcomment">Submit Comment</button>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="imageId" value="<%= image._id %>">
        <input type="hidden" name="userId" value="<%= image.userId._id %>">
      </form>
      <% } %>
      <textarea style="resize:none; font-size: 15px;" rows="15" cols="72" disabled><% for (let comment of comments.reverse()) { %>
<%= comment.userId.username %>:
        <%= comment.comment %><% } %>
        <% if (!comments.length > 0) { %>No one commented yet!<% } %>
      </textarea>
    </div>
  </main>

  <%- include('../includes/end.ejs') %>