<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (images.length > 0) { %>
        <div class="grid">
            <% for (let image of images.reverse()) { %>
            <article id="hello" class="card product-item">
                <div class="card__image">
                    <img src="<%= image.image %>" alt="">
                </div>
                <header class="card__header">
                    <h1 style="display:inline-block; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;" class="product__title">
                        <%= image.userId.username %>
                    </h1>
                    <a style="float:right;" href="/admin/comment/<%= image.id %>" class="btn">Comment</a>
                    <a style="float:right; margin-right: 10px" href="" class="btn">Like</a>
                </header>
            </article>
            <% } %>
        </div>
        <% } else { %>
        <h1>Be the first to add a pic!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>